<div class="container">
	<h1>{{ title }}</h1>
</div>

<section id="facts">
	<p><span class="highlight">Education: </span>{{ education }}</p>
	<p><span class="highlight">Salary: </span>{{ salary }}</p>
	<p><span class="highlight">Related Majors: </span>{{ related_majors }}</p>
</section>

<section id="description">
<h2>Description</h2>
</p>{{ description }}</p>
</section>

<section id="connect" class="row">
	<h2>Day in the life</h2>

	{{#each contacts}}
	  {{#if @first}}
	    <div>
	      <img class="left" src="{{img}}"/>
	      <div class="right">
		      <h3>{{lead}}</h3>
		      <blockquote>{{quote}}</blockquote>
		      <p>{{testimonial}}</p>
	      </div>
	    </div>
	  {{else}}
		<div class="panel panel-default col-md-3">
		  <div class="panel-heading">
		  	<img src="{{img}}"/>
		  </div>
		  <div class="panel-body">
		    {{lead}}
		  </div>
		</div>
	  {{/if}}
	{{/each}}

</section>

<section id="internships" class="row">
	<h2>Internships</h2>
	{{#each internships}}
		<div class="panel panel-default col-md-4">
		  <div class="panel-heading">{{company}}</div>
		  <div class="panel-body">
		    {{lead}}
		  </div>
		</div>
	{{/each}}
</section>

