<div class="career-page">
<div class="banner">
  <img src="{{assets}}/{{image}}" alt="{{title}}">
  <h1>{{ title }}</h1>
</div>

<section id="facts">
  <p><span class="highlight">Education: </span>{{ education }}</p>
  <p><span class="highlight">Salary: </span>{{ salary }}</p>
  <p><span class="highlight">Related Majors: </span>{{ related_majors }}</p>
</section>

<section id="description">
{{ description }}
</section>

<section id="connect">
</section>

<section id="internships">

</section>


</div>
