<div class="career-page">
<div class="banner">
  <img src="/crittenton-hackathon/{{assets}}/{{image}}" alt="{{title}}">
  <h1>{{ title }}</h1>
</div>

<section id="facts">
  <h2 class="fast-facts">Fast Facts:</h2>

  <div class="facts">
    <p><span class="highlight">Education: </span>{{ education }}</p>
    <p><span class="highlight">Salary: </span>{{ salary }}</p>
    <p><span class="highlight">Related Majors: </span>{{ related_majors }}</p>
  </div>

</section>

<section id="description">
<h2>What is {{title}}?</h2>
</p>{{ description }}</p>
</section>

<section id="connect" class="row">
	<h2>A day in the life</h2>

	{{#each contacts}}
	  {{#if @first}}
        <div class="col-sm-5">
          <img class="left" src="{{#if img}}{{../../../assets}}/{{img}}{{else}}https://unsplash.it/200{{/if}}"/>
        </div>
        <div class="col-sm-7">
  	      <h3>{{lead}}</h3>
  	      <blockquote>{{quote}}</blockquote>
        </div>

        <div class="col-xs-12">
          <p class="testimonial">{{testimonial}}</p>

        </div>
        <div class="clearfix"></div>
	  {{else}}

    <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <img src="{{#if img}}{{../../../assets}}/{{img}}{{else}}https://unsplash.it/200{{/if}}"/>
      </div>
      <div class="panel-body">
        {{lead}}
      </div>
    </div>
    </div>

	  {{/if}}
	{{/each}}

</section>

<section id="internships" class="row">
	<h2>Internships</h2>
	{{#each internships}}
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">{{company}}</div>
        <div class="panel-body">
          <p>{{lead}}</p>
          <a href="{{link}}">Apply now!</a>
        </div>
      </div>
    </div>
	{{/each}}
</section>


</div>
