<div class="career-page">
<div class="banner">
  <img src="{{assets}}/{{image}}" alt="{{title}}">
  <h1>{{ title }}</h1>
</div>

<section id="facts">
  <h2 class="fast-facts">Fast Facts:</h2>

  <div class="facts">
    <p><span class="highlight">Education: </span>{{ education }}</p>
    <p><span class="highlight">Salary: </span>{{ salary }}</p>
    <p><span class="highlight">Related Majors: </span>{{ related_majors }}</p>
  </div>

</section>

<section id="description">
<h2>What is {{title}}?</h2>
</p>{{ description }}</p>
</section>

<section id="connect">
	<h2>Day in the life</h2>
	{{#each contacts}}

	{{/each}}
</section>

<section id="internships">
	<h2>Internships</h2>
	{{#each internships}}
		<div class="panel panel-default col-md-4">
		  <div class="panel-heading">{{company}}</div>
		  <div class="panel-body">
		    {{lead}}
		  </div>
		</div>
	{{/each}}
</section>


</div>
